/*
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*
 * Set all page elements to border-box sizing
 */
* {
  box-sizing: border-box;
}

/*
 * Prevent Horizontal Scrolling
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/*
 * Basic styling
 */
body {
  font: 400 1.2rem/1.1 Raleway, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

main {
  width: 100%;
  height: 200vh;
  padding: 60px;
  background-color: #d1fae6;
}

.header {
  z-index: 9;
  position: relative;
  width: 100%;
  height: 56px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: left;
  color: inherit;
  background-color: inherit;
}
@media screen and (max-width: 600px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header, .header * {
  box-sizing: border-box;
}
.header a {
  text-decoration: none;
  color: inherit;
  fill: inherit;
}
.header__nav {
  width: 100%;
  height: 100%;
  margin: 0;
}
@media screen and (min-width: 601px) {
  .header__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}
.header__mobile {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (min-width: 601px) {
  .header__mobile {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header__logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin-right: auto;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo-img {
  display: block;
  height: 100%;
}
.header__mobile-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
  height: 100%;
}
@media screen and (min-width: 600px) {
  .header__mobile-buttons {
    display: none;
  }
}
.header__mobile-buttons-close--hide {
  display: none;
}
.header__nav:target .header__mobile-buttons-open--target {
  display: none;
}
.header__nav:not(:target) .header__mobile-buttons-close--target {
  display: none;
}
.header__links {
  margin-left: auto;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: max-height;
  transition-timing-function: ease-out;
}
@media screen and (min-width: 601px) {
  .header__links {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    overflow: visible;
  }
}
.header__nav:target .header__links--target {
  max-height: 100vw;
}
.header__link-container {
  position: relative;
}
.header__dropdown {
  min-width: 100%;
}
@media screen and (min-width 601px) {
  .header__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .header__link-container:not(:hover) .header__dropdown {
    display: none;
  }
}
.header__link {
  display: block;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  transition-property: background-color;
  transition-duration: 0.25;
}
@media screen and (min-width: 601px) {
  .header__link {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
  }
}
.header__link--hover:hover, .header__link-container:hover .header__link--dropdown-hover {
  background-color: rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 600px) {
  .header__link {
    background-color: rgba(0, 0, 0, 0.16);
  }
  .header__link--hover:hover {
    background-color: rgba(0, 0, 0, 0.2944);
  }
}
.header__link--sub-link {
  height: 56px;
}