@use 'sass:color';
@use 'utils';

// TODO: divide into mixins for
// layout, different hover effects / color schemes
@mixin styles($color: null, $theme: light, $height: null, $padding: null, $mobile: 600px, $transition: .3s .25s) {
    // color
    $bg-color: utils.nth-or($color, 1);
    $text-color: utils.nth-or($color, 2);

    $fallback-color: black;
    @if utils.is-color($bg-color) and utils.is-color($text-color) and color.lightness($bg-color) < color.lightness($text-color)
    or utils.is-color($bg-color) and color.lightness($bg-color) < 50%
    or utils.is-color($text-color) and color.lightness($text-color) > 50%
    or $theme == dark {
        $fallback-color: white;
    }

    $mix-color: utils.is-color($text-color) and $text-color or $fallback-color;
    $bg-color-dark: rgba($mix-color, 0.16);
    @if utils.is-color($bg-color) {
        $bg-color-dark: color.mix($mix-color, $bg-color, 16%);
    }

    // transitions
    $t-dropdown: utils.nth-or($transition, 1, .3s);
    $t-link: utils.nth-or($transition, 2, $t-dropdown);

    position: relative;
    width: 100%;
    height: $height;
    text-align: left;
    color: $text-color;
    background-color: $bg-color;

    &, & * {
        box-sizing: border-box;
    }

    & a {
        text-decoration: none;
        color: $text-color or inherit;
        fill: $text-color or inherit;
    }

    &__nav {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: inherit;
    }

    &__mobile {
        @include utils.flex-row();
        height: 100%;
    }

    &__logo {
        @include utils.flex-row(center);
        margin-right: auto;
        height: 100%;

        svg, &-img {
            display: block;
            width: auto;
            height: 100%;
        }
    }

    &__mobile-buttons {
        @include utils.flex-row(center);
        margin-left: auto;
        height: 100%;
    }

    &__mobile-button {
        @include utils.flex-row(center);

        & svg {
            height: 1.2em;
        }
    }

    &__nav--target:target &__mobile-button--open {
        display: none;
    }

    &__nav--target:not(:target) &__mobile-button--close {
        display: none;
    }


    &__links { // data-menu-links
        position: absolute;
        left: 0; top: 100%;
        width: 100%;
        max-height: 0;
        background-color: $bg-color or inherit;
        overflow: hidden;
        transition-duration: $t-dropdown; // TODO should change based on js or pure css
        transition-property: max-height;
        transition-timing-function: ease-out;

        & > * {
            width: 100%;
            margin-bottom: 2px;
        }

    }

    &__nav--target:target &__links {
        max-height: 100vw
    }

    &__link-container {
        position: relative;
        background-color: inherit;
        height: 100%;
    }

    &__dropdown {
        min-width: 100%;
        background-color: inherit;
    }

    &__link { // data-menu-link
        display: block;
        height: auto;
        background-color: $bg-color-dark;
        white-space: nowrap;
        transition-property: background-color;
        transition-duration: $t-link; // TODO different variable for link transitions

        &:hover {
            background-color: color.mix($mix-color, $bg-color-dark, 16%);
        }
    }

    @media screen and (min-width: utils.plus-one($mobile)) {
        &__nav {
            @include utils.flex-row();
        }

        &__mobile-buttons {
            display: none;
        }

        &__dropdown {
            position: absolute;
            top: 100%;
            left: 0;
        }

        &__link-container:not(:hover) &__dropdown {
            display: none;
        }

        &__links {
            position: static;
            @include utils.flex-row();
            margin-left: auto;
            width: auto;
            height: 100%;
            max-height: none;
            overflow: visible;

            & > * {
                width: auto;
                margin-bottom: 0;
            }
        }

        &__link {
            @include utils.flex-row(center);
            height: 100%;
            cursor: pointer;
            background-color: $bg-color or inherit;

            // TODO make hover classes easier to override one
            // probably header__link:hover and header__link--mobile:hover
            // or something like that
            &:hover, &-container:hover &--dropdown {
                background-color: $bg-color-dark;
            }

            &--sub-link {
                height: $height;
            }
        }

    }
}
