<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ '/dist/header.css' | url }}">
  </head>
  <body>

    {% include 'dist/header.njk' %}

    <main>
      <p>Some main content</p>
    </main>

  </body>
</html>
