<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="{{ '/dist/header.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  </head>
  <body>

    {% header header.links, header.logo %}

    <main>
      <p>Some main content</p>
    </main>

  </body>
</html>
