---
layout: base
---

{% block css %}
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/header.css' | url }}">
{% endblock %}

{% set logo %}{% include 'crofts-accountants.svg' %}{% endset %}
{% set open %}{% faSvg 'bars.svg' %}{% endset %}
{% set close %}{% faSvg 'times.svg' %}{% endset %}
{% header header, logo=logo, iconOpen=open, iconClose=close, foo="bar", class="other-class another-class", 'data-thing'=null %}

<main>
  <p>Some main content</p>
</main>
