---
layout: base
---

{% block css %}
  <link rel="stylesheet" href="{{ '/css/sass/main.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
{% endblock %}

{% header header.links, header.logo %}

<main>
  <p>Some main content</p>
</main>
