<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    {{ css | safe }}
  </head>
  <body>
    {{ content | safe }}
    <script src="/dist/main.js" type="module"></script>
  </body>
</html>
