@use '../../index' as header;
@import '../css/main';

.foo {
    --bg: white;
    --text: #333;

    padding-left: 60px;
    padding-right: 60px;
    line-height: 2.2;
    z-index: 9;

    @include header.styles($color: #333 white, $height: 56px, $transition: 0.3s);
    @include header.bg-shade;

    &__link {
        $padding: 15px;
        padding-left: $padding;
        padding-right: $padding;

        &--sub-link { // can be mq
            padding-left: $padding * 2;
        }
    }

    &__logo {
        $padding: 5px;
        padding-top: $padding;
        padding-bottom: $padding;
    }
}
