@use 'sass:list';
@use 'sass:color';

@function nth-or($list, $n, $or: null) {
    @return $list and list.length($list) >= $n and list.nth($list, $n) or $or;
}

@mixin flex-row($align: null) {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: $align;
    align-items: $align;
}

@mixin header-styles($color: null, $theme: light, $height: 56px, $padding: null, $mobile: 600px, $transition: .3s .25s) {
    // padding
    $base-padding: nth-or($padding, 1, 60px);
    $link-padding: nth-or($padding, 2, 15px);
    $logo-padding: nth-or($padding, 3, 5px);

    // color
    $bg-color: nth-or($color, 1);
    $text-color: nth-or($color, 2);

    $fallback-color: black;
    @if $bg-color and $text-color and color.lightness($bg-color) < color.lightness($text-color)
    or $bg-color and color.lightness($bg-color) < 50%
    or $text-color and color.lightness($text-color) > 50%
    or $theme == dark {
        $fallback-color: white;
    }

    $bg-color-dark: rgba($text-color or $fallback-color, 0.16);
    @if $bg-color {
        $bg-color-dark: mix($text-color or $fallback-color, $bg-color, 16%);
    }

    // transitions
    $t-dropdown: nth-or($transition, 1, .3s);
    $t-link: nth-or($transition, 2, $t-dropdown);

    position: relative;
    width: 100%;
    height: $height;
    padding-left: $base-padding;
    padding-right: $base-padding;
    text-align: left;
    color: $text-color or inherit;
    background-color: $bg-color or inherit;
    // -webkit-font-smoothing: subpixel-antialiased;
    // -moz-osx-font-smoothing: auto;
    // z-index: 9;

    @media screen and (max-width: $mobile) {
        padding-left: 0px;
        padding-right: 0px;
    }

    &, & * {
        box-sizing: border-box;
    }

    & a {
        text-decoration: none;
        color: $text-color or inherit;
        fill: $text-color or inherit;
    }

    &__nav {
        width: 100%;
        height: 100%;
        margin: 0;

        @media screen and (min-width: $mobile + 1px) {
            @include flex-row();
        }
    }

    &__mobile {
        @include flex-row();
        height: 100%;
        padding-left: $base-padding;
        padding-right: $base-padding;

        @media screen and (min-width: $mobile + 1) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    &__logo {
        @include flex-row(center);
        margin-right: auto;
        height: 100%;
        padding-top: $logo-padding;
        padding-bottom: $logo-padding;

        &-img {
            display: block;
            height: 100%;
        }
    }

    &__mobile-buttons {
        @include flex-row(center);
        margin-left: auto;
        height: 100%;

        @media screen and (min-width: $mobile) {
            display: none;
        }

        &-close--hide {
            display: none;
        }
    }

    &__nav:target &__mobile-buttons-open--target {
        display: none;
    }

    &__nav:not(:target) &__mobile-buttons-close--target {
        display: none;
    }


    &__links {
        margin-left: auto;
        height: 100%;
        max-height: 100%;
        background-color: $bg-color;
        overflow: hidden;
        transition-duration: $t-dropdown; // should change based on js or pure css
        transition-property: max-height;
        transition-timing-function: ease-out;

        @media screen and (min-width: $mobile + 1px) {
            @include flex-row();
            overflow: visible;
        }
    }

    &__nav:target &__links--target {
        max-height: 100vw
    }

    &__link-container {
        position: relative;
    }

    &__dropdown {
        min-width: 100%;

        @media screen and (min-width $mobile + 1px) {
            position: absolute;
            top: 100%;
            left: 0;
        }
    }

    @media screen and (max-width: $mobile) {
        &__link-container:not(:hover) &__dropdown {
            display: none;
        }
    }

    &__link {
        display: block;
        height: 100%;
        padding-left: $link-padding;
        padding-right: $link-padding;
        white-space: nowrap;
        background-color: $bg-color;
        transition-property: background-color;
        transition-duration: $t-link; // different variable for link transitions

        @media screen and (min-width: $mobile + 1) {
            @include flex-row(center);
            cursor: pointer;
        }

        &--hover:hover, &-container:hover &--dropdown-hover {
            background-color: $bg-color-dark;
        }

        @media screen and (max-width: $mobile) {
            // possible this should *not* apply to --sub-link
            background-color: $bg-color-dark;

            &--hover:hover {
                background-color: mix($text-color or black, $bg-color-dark, 16%);
            }
        }

        &--sub-link {
            height: $height;
        }
    }
}
