<header id="header" class="header" data-menu data-fixed-header>

  <nav id="site-nav" class="header__nav">
    <div class="header__mobile">
      {% if not include.center %}
        <a class="header__logo" href="{{ site.baseurl }}/">
          <img class="header__logo-img" itemprop="logo" src="{{ logoSrc }}" alt="{{ logoAlt }}">
          {# {% include acme-logos/logo-8.svg class="full-height" %} #}
        </a>
      {% endif %}

      <div class="header__mobile-buttons">
        <a href="#site-nav" class="header__mobile-buttons-open header__mobile-buttons-open--target" data-menu-button="open">
          Menu&nbsp;<i class="fa fa-bars fa-fw fa-lg"></i>
        </a>
        <a href="#" class="header__mobile-buttons-close header__mobile-buttons-close--target" data-class-add="hidden" data-menu-button="close">
          Close&nbsp;<i class="fa fa-times fa-fw fa-lg"></i>
        </a>
      </div>
    </div>

    <div class="header__links header__links--target t-long" data-menu-links data-class-rm="t-long">
      {% for link in header %}
        {# {% for doc in site.pages %} #}
        {#   {% set match = nil %} #}
        {#   {% if link.page == doc.inputPath %} #}
        {#     {% set match = doc %} #}
        {#     {% break %} #}
        {#   {% endif %} #}
        {# {% endfor %} #}

        {% if link.dropdown %}
        <div class="header__link-container hover">
        {% endif %}

        <a class="header__link {% if link.dropdown %} header__link--dropdown-hover {% else %} header__link--hover {% endif %}" href="{{ link.page | url }}" data-menu-link>
            {{ link.text }}
          </a>

          {% if link.dropdown %}
            <div class="header__dropdown" data-menu-dropdown>
              {% for sub_link in link.dropdown %}
                {# {% for doc in site.pages %} #}
                {#   {% set match = nil %} #}
                {#   {% if sub_link.page == doc.inputPath %} #}
                {#     {% set match = doc %} #}
                {#     {% break %} #}
                {#   {% endif %} #}
                {# {% endfor %} #}

                <a class="header__link header__link--sub-link" href="{{ sub_link.page | url }}" data-menu-link>
                  {{ sub_link.text }}
                </a>

              {% endfor %}
            </div>
          </div>
        {% endif %}

      {% endfor %}

    </div>
  </nav>

</header>
